*{
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #004643;
    display: grid;
    height: 100vh;
    grid-template:
    "header" 130px
    "Box-side" 500px
    "content" 350px
    "footer" 100px/430px;
}

/* Nav */
nav {
    grid-area: header;
    justify-content: center;
    align-items: center;    
}

.Box-Nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.Logo img{
    width: 200px;
    border-radius: 150px;
    margin: 10px;
}

.Contacto a{
    font-family: "Karla", sans-serif;
    text-decoration: none;
    color: #abd1c6;
}


/* Menu */

section {
    grid-area: Box-side;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box-Links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 470px;
    border-radius: 40px;
    gap: 25px;   
}
 
.Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Karla", sans-serif;
    gap: 10px;
}

.Menu li {
    list-style: none;
}

.Menu a {
    text-decoration: none;
    color: #abd1c6;
    cursor: pointer;
}

.Foto img {
    width: 150px;
    height: 190px;
    border-radius: 100px;
     
}

.Links-Sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: "Karla", sans-serif;
    color: #abd1c6;
    gap: 15px;
}

.Item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    gap: 5px;
    cursor: pointer;
}

.Iconos {
    width: 40px;
}

aside {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Experiencia-Laboral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.Exp-Laboral img {
    position: relative;
    left: 30px;
    width: 150px;
}

.texto-5 p {
    font-family: "Libre Franklin", sans-serif;
    color: #fffffe;
    font-size: 2rem;
}

.Exp-Laboral p {
    font-family: "Karla", sans-serif;
    color: #abd1c6;
    text-align: center; 
}

.Exp-Laboral button {
    width: 100px;
    height: 40px;
    background-color: #f9bc60;
    color: #001e1d;
    border: none;
}

footer {
    grid-area: footer;
}

.Pie-De-Pagina {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #e16162;
    width: 100%;
    height: 100px;
}

.Pie-De-Pagina p {
    font-family: "Open Sans", sans-serif;
    color: black;
}

@media (min-width:768px) {
    
    body {
        background-color: #004643;
        display: grid;
        height: 100vh;
        grid-template:
        "header header" 200px 
        "Box-side content" 490px
        "footer footer" 100px/30% 1fr;
      
    }

    
    nav {
        grid-area: header;
        justify-content: space-between;
        align-items: center;
    }
    
    .Box-Nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100px;        
    }
    
    .Logo img{
        width: 200px;
        border-radius: 150px;
        margin: 25px;
    }
    
    .Contacto a{
        font-family: "Karla", sans-serif;
        text-decoration: none;
        color: #abd1c6;
        margin: 25px;
    }

    /* Menu */

    section {
        grid-area: Box-side;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    
    .Box-Links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 470px;
        border-radius: 40px;
        gap: 25px; 
    }
    
    .Foto img {
        width: 150px;
        height: 190px;
        border-radius: 100px;     
    }
    
    .Menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Karla", sans-serif;
        width: 100%;
        height: 100%;
        gap: 10px;
    }
    
    .Menu li {
        list-style: none;
    }
    
    .Menu a {
        text-decoration: none;
        color: #abd1c6;
        cursor: pointer;
    }
    
    .Links-Sociales {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-family: "Karla", sans-serif;
        color: #abd1c6;
        gap: 15px;
    }
    
    .Item {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: black;
        gap: 5px;
        cursor: pointer;
    }
    
    .Iconos {
        width: 40px;
    }

    aside {
        grid-area: content;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Experiencia-Laboral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 300px;
        gap: 30px;
    }
    
    .texto-5 p {
        font-family: "Libre Franklin", sans-serif;
        color: #fffffe;
        font-size: 2.5rem;
    }
    
    .Exp-Laboral p {
        font-family: "Karla", sans-serif;
        color: #abd1c6;
        text-align: center; 
    }
    
    .Exp-Laboral button {
        width: 100px;
        height: 40px;
        background-color: #f9bc60;
        color: #001e1d;
        border: none;
    }
    
    footer {
        grid-area: footer;
    }
    
    .Pie-De-Pagina {
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #e16162;
        width: 100%;
        height: 100px;
    }
    
    .Pie-De-Pagina p {
        font-family: "Open Sans", sans-serif;
        color: black;
    }
}

@media (min-width:1024px) {
    
    body {
        background-color: #004643;
        display: grid;
        height: 100vh;
        grid-template:
        "header header" 100px 
        "Box-side content" 490px
        "footer footer" 100px/30% 1fr;
    }

    
    nav {
        grid-area: header;
        justify-content: space-between;
        align-items: center;
    }
    
    .Box-Nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100px;        
    }
    
    .Logo img{
        width: 200px;
        border-radius: 150px;
        margin: 25px;
    }
    
    .Contacto a{
        font-family: "Karla", sans-serif;
        text-decoration: none;
        color: #abd1c6;
        margin: 25px;
    }

    /* Menu */

    section {
        grid-area: Box-side;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    
    .Box-Links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 470px;
        border-radius: 40px;
        gap: 25px; 
    }
    
    .Foto img {
        width: 150px;
        height: 190px;
        border-radius: 100px;     
    }
    
    .Menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Karla", sans-serif;
        width: 100%;
        height: 100%;
        gap: 10px;
    }
    
    .Menu li {
        list-style: none;
    }
    
    .Menu a {
        text-decoration: none;
        color: #abd1c6;
        cursor: pointer;
    }
    
    .Links-Sociales {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-family: "Karla", sans-serif;
        color: #abd1c6;
        gap: 15px;
    }
    
    .Item {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: black;
        gap: 5px;
        cursor: pointer;
    }
    
    .Iconos {
        width: 40px;
    }

    aside {
        grid-area: content;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Experiencia-Laboral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 300px;
        gap: 30px;
    }
    
    .texto-5 p {
        font-family: "Libre Franklin", sans-serif;
        color: #fffffe;
        font-size: 2.5rem;
    }

    .Exp-Laboral img {
        width: 200px;
    }
    
    .Exp-Laboral p {
        font-family: "Karla", sans-serif;
        color: #abd1c6;
        text-align: center; 
    }
    
    .Exp-Laboral button {
        width: 100px;
        height: 40px;
        background-color: #f9bc60;
        color: #001e1d;
        border: none;
        cursor: pointer;
    }

    .Exp-Laboral a {
        text-decoration: none;
        color: black;
    }
    
    footer {
        grid-area: footer;
    }
    
    .Pie-De-Pagina {
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #e16162;
        width: 100%;
        height: 100px;
    }
    
    .Pie-De-Pagina p {
        font-family: "Open Sans", sans-serif;
        color: black;
    }
}
